@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #39008f;
  --accessButton: #121212;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-access-buton: var(--accessButton);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #39008f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}